<div class="main-body">
  <div>
    <label class="label" for="region">Region:</label>
    <span>{{ climateData.region }}</span>
  </div>
  <div>
    <label class="label" for="temperature">Temperature:</label>
    <span>{{ climateData.temperature }}</span>
  </div>
  <div>
    <label class="label" for="humidity">Humidity:</label>
    <span>{{ climateData.humidity }}</span>
  </div>
  <div>
    <label class="label" for="precipitation">Precipitation:</label>
    <span>{{ climateData.precipitation }}</span>
  </div>
</div>