<div class="main-body">
  <div>
    <label class="label" for="region">Region:</label>
    <span>{{ climateData.region }}</span>
  </div>
  <div>
    <label class="label" for="surfacePressure">Surface Pressure:</label>
    <span>{{ climateData.surfacePressure }}</span>
  </div>
  <div>
    <label class="label" for="earthSkinTemperature">Earth Skin Temperature:</label>
    <span>{{ climateData.earthSkinPressure }}</span>
  </div>
  <div>
    <label class="label" for="temperatureAtTwoMeters">Temperature at 2 Meters:</label>
    <span>{{ climateData.temperatureAtTwoMeters }}</span>
  </div>
  <div>
    <label class="label" for="specificHumidityAtTwoMeters">Specific Humidity at 2 Meters:</label>
    <span>{{ climateData.specificHumidityAtTwoMeters }}</span>
  </div>
  <div>
    <label class="label" for="relativeHumidityAtTwoMeters">Relative Humidity at 2 Meters:</label>
    <span>{{ climateData.relativeHumidityAtTwoMeters }}</span>
  </div>
  <div>
    <label class="label" for="surfaceSoilWeakness">Surface Soil Wetness:</label>
    <span>{{ climateData.surfaceSoilWetness }}</span>
  </div>
  <div>
    <label class="label" for="profileSoilMoisture">Profile Soil Moisture:</label>
    <span>{{ climateData.profileSoilMoisture }}</span>
  </div>
  <div>
    <label class="label" for="temperatureAtTwoMetersRange">Temperature at 2 Meters Range:</label>
    <span>{{ climateData.temperatureAtTwoMetersRange }}</span>
  </div>
  <div>
    <label class="label" for="precipitationCorrected">Precipitation Corrected:</label>
    <span>{{ climateData.precipitationCorrected }}</span>
  </div>
</div>