<div class="main-body">
  <div>
    <label class="label" for="region">Region:</label>
    <input class="input-field" type="text">
  </div>
  <div>
    <label class="label" for="temperature">Temperature:</label>
    <input class="input-field" type="text">
  </div>
  <div>
    <label class="label" for="humidity">Humidity:</label>
    <input class="input-field" type="text">
  </div>
  <div>
    <label class="label" for="precipitation">Precipitation:</label>
    <input class="input-field" type="text">
  </div>
  <div id="button-container">
    <span type="submit" class="submit-data">SUBMIT</span>
  </div>
</div>